@font-face {
  font-family: LB;
  src: url('./fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
  font-stretch: 100%;
}

header {
  border-bottom: 3px solid #ffffff;
  margin-bottom: 1rem;
  font-family: LB;
  font-size: 112%;
}

* { 
  font-family: LB;
  margin: 0.25;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff
}

footer {
  border-top: 8px solid #ffffff;
  margin-top: 1rem;
  height: 380px;
  max-width: 100%;
  font-family: LB;
  font-size: 106%;
  }